.container {
    margin-top: 32px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .allButton {
    color: #9ca3af;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  
  @media (min-width: 768px) {
   .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  
  .card {
    background-color: #374151;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image {
    width: 96px;
    height: 96px;
    border-radius: 8px;
    margin-bottom: 8px;
  }