
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8; /* Slight fade to enhance text readability */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  display: flex;
  align-items: flex-end;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  padding-left: 1.5rem; /* Space for the vertical line */
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px; /* Thickness of the vertical line */
  background-color: inherit; /* Inherits dominantColor */
  transform: translateX(-100%);
}

.artists {
  font-size: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  padding-left: 1.5rem; /* Align with the title's padding */
}

.container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Thickness of the bottom border */
  background-color: inherit; /* Inherits dominantColor */
}